Screen {
    align: center top;
}

.title {
    text-align: center;
    text-style: bold;
    color: #0891b2;
}

Button {
    width: 80%;
    height: auto;
    margin-bottom: 1;
}

Input {
    width: 80%;
}

Label {
    width: 80%;
    text-align: left;
}

.message {
    color: #e2e8f0;
    text-align: center;
}

.results {
    border: solid #475569;
    padding: 1;
    width: 80%;
    height: auto;
    max-height: 20;
    overflow-y: scroll;
}

.info_content {
    width: 80%;
    height: auto;
    max-height: 20;
    overflow-y: scroll;
    border: solid #475569;
    padding: 1;
}

Vertical {
    align: center top;
    padding: 1 2;
}

.main-screen-content {
    align: center top;
    width: 100%;
    height: 100%;
}

Horizontal {
    width: 100%;
    align: center middle;
}

.user-result-button {
    width: 80%;
    margin-top: 1;
}
